:root {
    --white: #FFFFFF;
    --black: #222831;
    --lightest-black: #393E46;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --color-font: #C5C5C5;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

body {
    margin: 0;
    padding: 0;
}

.row {
    margin-bottom: 0px;
}

@media screen and (max-width: 1000px) {
   .inst-header-text {
        display: none;
   }

   .header-text-dash {
        display: none;
   }

   .inst-icon {
        font-size: 3rem;
   }

   .export-text {
        display: none;
   }

   .export-icon {
        font-size: 3rem;
   }
}

@media screen and (max-width: 600px) {
    .dash-controls {
        display: none;
    }
}