:root {
    --white: #FFFFFF;
    --black: #222831;
    --lightest-black: #393E46;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --color-font: #C5C5C5;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

body {
    margin: 0;
    padding: 0;
}

.row {
    margin-bottom: 0px;
}

.school-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--lightest-black);
    height: 100vh;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.title {    
    color: #EEEEEE;
    margin-bottom: 100px;
    text-align: start;
}

.custom-register-school-btn {
    align-items: center;
    justify-content: center;
    width: 220px;
}